<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK_MANAGEMENT SYSTEM</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>
    
  
    <div class="dive">
        <a href="/"><img src="/static/pictures/main_icon.png" type="image/x-icon" class="logo" alt="home button"></a>
     
        <h1 style="text-align: center; color: #030303; padding-top: 20%; font-size: 4.2vw;">BANK_MANAGEMENT SYSTEM<br><br> ONLINE BANKING SYSTEM </h1>

        <div class="align" >
            <button class="btn_check" style="text-decoration: solid; font-size: larger;"><a href="/system"><span>CUSTOMERS USERS</span></a></button>
        
            <button class="clog_btn" style="text-decoration: solid; font-size: larger;"><a href="/clog" ><span>BANK ADMIN</span></a></button>
        </div>
    </div>
</body>
</html>