<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK_MANAGEMENT</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></head>
<body style="background-color: black; color: white;">

    <br>
    <br>
    <hr>
    <br>
    <hr>
    <br>
    <center><h1><u> VIEW THE ADMIN</u></h1>
        <br>
        <br>
        <br>
    <a href="/back"><button class="vex">Click to view Administration Details</button></a>
</center>
</body>
</html>