<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK_MANAGEMENT</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!-- <a href="/system"><button >back</button></a> -->
<div class="std_reg">
        <a href=""><img src="/static/pictures/main_icon.png" class="logo" alt="home button"></a>
        <a href="/system" ><button class="clue"><span>back <br>&#8594 &#8594</span></button></a>

        <center><br>
          
        <h1 style="font-size: 5vh; text-decoration: underline;">DO YOUR BANK TRANSACTION.</h1>
        <form action="/trvl_d" method="POST">
            <h2 class="flask" style="padding-top: 5%;">WELCOME <b> -- </b><u style="text-transform: uppercase;">{{verify.name}}</u><br><br></h2>
        <br>
        <br>
            <input type="text" class="box"  name="traveller_name" placeholder="account_name" required>
            <br><br>
            <input type="text" class="box"  name="from_where" placeholder="account_type" required>
            <br><br>
            <input type="text"class="box"  name="to_where" placeholder="account_staus" required>
            <br><br>
            <input type="number" class="bos" style="border-radius: 9px;"  name="departure_time" maxlength="11" required>
            <br><br>
            <input type="submit" class="box" value="submit" required>
            <br><br>
        </center>
        </form>
    </div><hr style="background-color:2px black;">
       <div class="student">
        <center>
            <p class="p_tag">Do you have error in your details.. please contact the admin</p><br><a href="/range" ><button class="reg">Admin</button></a><br>
        </center>
           <br>
    </div>
    <div class="footer">
        <center><h2 style="color: black;">MANAGEMENT_SYSTEM</h2></center>
        <center><p><b> </p></center>
    </div>
           
</body>
</html>