<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK_MANAGEMENT</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body class="cls">
    <center><h1>Thank you for choseing us.....</h1></center>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <center><h2>Your account details have just be recorded</h2></center>
    <br>
    <hr>
    <br>
    
    <br>
  
    <br>
    <center><a href="/login_trvl"><button class="btn-cls">account verification &#174</button></a></center>
    <br>
    <br>
    <hr>
    <br>

</body>
</html>